/* Colors */
/* Rainy theme 5 -Green Digitalization Course and Students Apps-:
Navbar (background): #8bbbd9
Navbar (a hover): #466fa6
Navbar (logo): #568c63
Navbar (a menu): #2a4359
*/

/* Google fonts Roboto  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

/* CSS utilities */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Carbon App logo */
.text-logo {
  color: #006400;
}

/* Font imports */

body {
  font-family: 'Roboto', sans-serif;
  background: url('../static/icons/Forestphoto.png') center top / cover no-repeat, 
              linear-gradient(to bottom right, #e6f4ea, #c5c8d9);
  line-height: 1.6;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}
.container {
  margin: auto;
  max-width: 1320px;
}
ul { 
  list-style: none;
  font-size: 400;
}

h1, h2 {
  font-weight: 400;
  line-height: 1.2;
}
p {
  margin: 10px 0;
  font-size: 14px;
}
img {
  width: 100%;
}

/* Navbar  */
.section_carbon_app_navbar {
  background-color: transparent;
}
.carbon_app_navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 70px;
  align-items: center;
  background-color: transparent;
  padding: 0 0px;
}
.carbon_app_navbar a {
  color: #2a4359;
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 500;
}
.carbon_app_navbar a:hover{
  border-bottom: #2a4359 4px solid;
}
.carbon_app_navbar ul {
  display: flex;
  flex-direction: row;
}
.carbon_app_navbar .logo {
  font-weight: 400;
  padding: 10px 15px;
  border-radius: 5px;
}

/* Footer  */
.section_footer{
  background-color:white;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 70px;
  align-items: center;
  background-color: white;
  padding: 0 0px;
}


/* Media query */
@media(max-width:768px){
  .carbon_app_navbar {
    height: 180px;
    flex-direction: column;
  }
  .carbon_app_navbar a {
    font-size: 15px;
    padding: 5px 20px;
  }
  .carbon_app_navbar ul {
    display: flex;
    flex-direction: column;
  }
  .carbon_app_navbar a:hover{
    color: #568c63;
    border-bottom: #2a4359 2px solid;
  }
}
