{% extends 'layout.html' %}
{% block content %}

<!-- Hero / Header -->
<section class="section_header_home" style="background: #b9eccd;">
  <div class="hero_overlay" style="background: rgba(0,0,0,0.1);">
    <div class="container hero_content">
      <h1><span class="highlight">About</span> Us</h1>
      <p>
        Meet the team behind Carbon App. We are dedicated to creating tools that help 
        individuals and organizations understand and reduce their carbon footprint.
      </p>
    </div>
  </div>
</section>


<!-- Developers / Team Section -->
<section class="section_developers">
  <div class="container">
    <h1>Our Team</h1>
    <p>
      Our team of economists and developers is passionate about sustainable solutions and innovative tools to calculate and reduce carbon emissions.
    </p>

    <div class="developers">
      <!-- Developer 1 -->
      <div class="box">
        <img src="https://randomuser.me/api/portraits/men/10.jpg" alt="Developer 1">
        <h3>Developer 1</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis?</p>
        <a class="btn_developers" href="#" target="_blank">Curriculum</a>
      </div>

      <!-- Developer 2 -->
      <div class="box">
        <img src="https://randomuser.me/api/portraits/men/10.jpg" alt="Developer 2">
        <h3>Developer 2</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis?</p>
        <a class="btn_developers" href="#" target="_blank">Curriculum</a>
      </div>

      <!-- Developer 3 -->
      <div class="box">
        <img src="https://randomuser.me/api/portraits/men/10.jpg" alt="Developer 3">
        <h3>Developer 3</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis?</p>
        <a class="btn_developers" href="#" target="_blank">Curriculum</a>
      </div>

      <!-- Developer 4 -->
      <div class="box">
        <img src="https://randomuser.me/api/portraits/men/10.jpg" alt="Developer 4">
        <h3>Developer 4</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis?</p>
        <a class="btn_developers" href="#" target="_blank">Curriculum</a>
      </div>

      <!-- Developer 5 -->
      <div class="box">
        <img src="https://randomuser.me/api/portraits/men/10.jpg" alt="Developer 5">
        <h3>Developer 5</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis?</p>
        <a class="btn_developers" href="#" target="_blank">Curriculum</a>
      </div>

      <!-- Developer 6 -->
      <div class="box">
        <img src="https://randomuser.me/api/portraits/men/10.jpg" alt="Developer 6">
        <h3>Developer 6</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis?</p>
        <a class="btn_developers" href="#" target="_blank">Curriculum</a>
      </div>

      <!-- Developer 7 -->
      <div class="box">
        <img src="https://randomuser.me/api/portraits/men/10.jpg" alt="Developer 7">
        <h3>Developer 7</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis?</p>
        <a class="btn_developers" href="#" target="_blank">Curriculum</a>
      </div>
    </div>
  </div>
</section>

{% endblock %}
