{% extends "layout.html" %}
{% block content %}

<!-- Bildet + Hero section -->
<section class="section_header_home" style="background: url('{{ url_for('static', filename='icons/foggyforrest.jpg') }}') center center / cover no-repeat;">
  <div class="hero_overlay">
    <div class="container hero_content">
      <h1><span class="highlight">Carbon</span> App</h1>
      <p>
        A modern platform to calculate and understand the carbon footprint of different vehicles.  
        Empowering a cleaner, greener, and smarter future for transportation.
      </p>
      <div class="hero_buttons">
        <a href="{{ url_for('users.register') }}" class="btn_primary">Get Started</a>
         <a href="{{ url_for('users.login') }}" class="btn_secondary">Login</a>
      </div>
    </div>
  </div>
</section>

<!-- Info kort -->
<section class="info_cards_container">
  <!-- What We Do -->
  <div class="we_do_card">
    <h3>What We Do</h3>
    <p>
      We help individuals and organizations assess, visualize, and reduce their carbon emissions  
      through data-driven analysis and user-friendly digital tools.
    </p>
  </div>

  <!-- What’s Your Impact -->
  <div class="impact_card">
    <h3>What’s Your Impact?</h3>
    <p>
      Discover how your travel habits influence carbon emissions.  
      Join us in the journey toward sustainability — every kilometer counts.
    </p>
    <a href="{{ url_for('carbon_app.carbon_app_home') }}" class="link_action">Calculate Emissions</a>
  </div>
</section>

<div class="custom-shape-divider-top-1759939526">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
    </svg>
</div>

<!-- MEET OUR TEAM -->
<section class="section_developers">
 <div class="container">
   <h1>Meet our team!</h1>
   <p>
    The people who made all of this possible:
   </p>

   <div class="developers">
     <!-- Developer 1 -->
     <div class="box">
       <img src="{{ url_for('static', filename='images/Ivan.jpeg') }}" alt="Developer 1">
       <h3>Ivan Nenadovic</h3>
       <p><i class="fa-solid fa-leaf"></i> 21 years old from Bergen</p>
       <p><i class="fa-solid fa-leaf"></i> 3rd Year student at HVL</p>
       <a class="btn_developers" href="#" target="_blank">Curriculum</a>
     </div>

     <!-- Developer 2 -->
     <div class="box">
       <img src="{{ url_for('static', filename='images/Danny.jpeg') }}" alt="Developer 2">
       <h3>Danny Hoang Nguyen</h3>
       <p><i class="fa-solid fa-leaf"></i> 21 years old from Bergen</p>
       <p><i class="fa-solid fa-leaf"></i> 3rd Year student at HVL</p>
       <a class="btn_developers" href="#" target="_blank">Curriculum</a>
     </div>

     <!-- Developer 3 -->
     <div class="box">
   <img src="{{ url_for('static', filename='images/Håvard.jpeg') }}" alt="Developer 3">
       <h3>Håvard Heggebø Tveita</h3>
       <p><i class="fa-solid fa-leaf"></i> 21 years old from Ølen</p>
       <p><i class="fa-solid fa-leaf"></i> 3rd Year student at HVL</p>
       <a class="btn_developers" href="#" target="_blank">Curriculum</a>
     </div>

     <!-- Developer 4 -->
     <div class="box">
       <img src="{{ url_for('static', filename='images/William.jpeg') }}" alt="Developer 4">
       <h3>William Borøy</h3>
       <p><i class="fa-solid fa-leaf"></i> 23 years old from Kristiansand</p>
       <p><i class="fa-solid fa-leaf"></i> 3rd Year student at HVL</p>
       <a class="btn_developers" href="#" target="_blank">Curriculum</a>
     </div>

     <!-- Developer 5 -->
     <div class="box">
       <img src="{{ url_for('static', filename='images/Sigurd.jpeg') }}" alt="Developer 5">
       <h3>Sigurd Linde</h3>
       <p><i class="fa-solid fa-leaf"></i> 22 years old from Bergen</p>
       <p><i class="fa-solid fa-leaf"></i> 3rd Year student at HVL</p>
       <a class="btn_developers" href="#" target="_blank">Curriculum</a>
     </div>

     <!-- Developer 6 -->
     <div class="box">
       <img src="{{ url_for('static', filename='images/Helena.jpg') }}" alt="Developer 6">
       <h3>Helena Snøfugl Skarholt</h3>
       <p><i class="fa-solid fa-leaf"></i> 21 years old from Trondheim</p>
       <p><i class="fa-solid fa-leaf"></i> 2nd Year student at HVL</p>
       <a class="btn_developers" href="#" target="_blank">Curriculum</a>
     </div>

     <!-- Developer 7 -->
     <div class="box">
       <img src="https://randomuser.me/api/portraits/men/10.jpg" alt="Developer 7">
       <h3>Celine Sommerfelt</h3>
       <p><i class="fa-solid fa-leaf"></i> 24 years old from Oslo</p>
       <p><i class="fa-solid fa-leaf"></i> 2nd Year student at HVL</p>
       <a class="btn_developers" href="#" target="_blank">Curriculum</a>
     </div>
   </div>
 </div>
</section>



<div class="custom-shape-divider-bottom-1759941253">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
</div>

{% endblock content %}


