{% extends "layout.html" %}
{% block content %}
  
<!-- Header -->
<section class="section_header_methodology">
    <div class="container">
  
      <div class="header">
        <div class="box"> 
          <h1 style="font-size:55px;"><span class="text-logo"> Methodology</span></h1>
          <p style="text-align:left;">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat dolores quos asperiores repellendus facilis cum illo aperiam odit doloremque nostrum. Totam excepturi labore voluptatibus iusto sapiente quisquam consectetur optio magnam voluptates omnis vel officia alias distinctio quas laborum reiciendis ratione inventore veniam, cupiditate doloribus dolore, eius natus a. Magni inventore consequuntur voluptas reprehenderit perferendis! Molestias aspernatur rem autem aut temporibus.
          </p>
          <div class="container_buttons_links_header">
            <div class="btn">
                <a href="#" class="btn btn-primary btn-lg mr-2" style="background-color:#007bff;">Paper</a>
            </div>
            <div class="btn">
                <a href="{{url_for('carbon_app.carbon_app_home')}}" class="btn btn-primary btn-lg mr-2" style="background-color:#007bff;">Carbon App</a>
            </div>
          </div>  
        </div>
      </div>
      
    </div>
</section> 

<!-- Methodology -->
<section class="section_body_methodology">
    <div class="container">

        <div class="methodology" style="display:block;">
            <h1 style="text-align:center;"> Our numbers and formulas</h1>
            <p>
              We are going to study some \(\LaTeX ~ formulas\) that could be useful for our project:
            </p> 
        </div>

        <!-- Two formula boxes (empty) -->
        <div class="methodology"> 
          <div class="box_table2" style="height:425px;">
            <ol start="1">
              <li>
                <h4>Carbon emissions formula</h4>
                <p class="text-left"></p>
                  The formula for calculating carbon emissions is:
              </li>
              <li>
                <h4>xxx</h4>
                <p class="text-left"></p>
              </li>
            </ol>                        
          </div>
          <div class="box_table2" style="height:425px;">
            <ol start="3">
              <li>
                <h4>Carbon emissions formula per passenger</h4>
                <p class="text-left"></p>
                the formula for calculating carbon emissions per passenger is:
              </li>
              <li>
                <h4>xxx</h4>
                <p class="text-left"></p>
              </li>
            </ol>
          </div>  
        </div>

    </div>

    <div class="grid-container">
<!-- 2x10 grid of boxes -->
    <div class="box_table2_grid">
      {% set transport = ['Transportation Method','Walking', 'Bike', 'Passanger Car: Disel', 'Passanger Car: Electric', 'Airplane', 'Ferry', 'Train: Electric', 'Bus: Disel', 'Motorcycle'] %}
      {% set carbon_emissions = ['Carbon Emissions','0', '0'] %}
      {% for i in range(10) %}
          <div class="grid-box">
            <strong>{% if i < transport|length %}</strong>
              {{ transport[i] }}
            {% endif %}
          </div>
          <div class="grid-box">
            {{carbon_emissions[i]}}

           
            
          </div>
      {% endfor %}
    </div>


</section>



{% endblock content %}
